In [42]:
# Dependencies
import pandas as pd
import numpy as np

In [43]:
#resources
btc_csv= "Resources/BTC-USD 5y monthly.csv"
eth_csv= "Resources/ETH-USD 5y monthly.csv"
ltc_csv= "Resources/LTC-USD 5y monthly.csv"
bch_csv= "Resources/BNB-USD 5y monthly.csv"
bnb_csv= "Resources/BCH-USD 5y monthly.csv"

In [67]:
#Read Bitcoin(BTC)
btc_df=pd.read_csv(btc_csv)
btc_renamed=btc_df.rename(columns={"Open": "BTC Open in USD",
                                "High": "BTC High in USD",
                                "Low": "BTC Low in USD",
                                "Close": "BTC Close in USD",
                                "Adj Close": "BTC Adj Close in USD",
                                "Volume": "BTC Volume in Billions"})
btc_renamed["BTC Open in USD"] = btc_renamed["BTC Open in USD"].map("{:.2f}".format)
btc_renamed["BTC High in USD"] = btc_renamed["BTC High in USD"].map("{:.2f}".format)
btc_renamed["BTC Low in USD"] = btc_renamed["BTC Low in USD"].map("{:.2f}".format)
btc_renamed["BTC Close in USD"] = btc_renamed["BTC Close in USD"].map("{:.2f}".format)
btc_renamed["BTC Adj Close in USD"] = btc_renamed["BTC Adj Close in USD"].map("{:.2f}".format)
btc_renamed["BTC Volume in Billions"]=btc_renamed["BTC Volume in Billions"]/1000000000
btc_renamed["BTC Volume in Billions"] = btc_renamed["BTC Volume in Billions"].map("{:.2f}".format)
btc_renamed.head()

,Date,BTC Open in USD,BTC High in USD,BTC Low in USD,BTC Close in USD,BTC Adj Close in USD,BTC Volume in Billions
0,11/1/2015,315.01,495.56,301.00,377.32,377.32,2.18
1,12/1/2015,377.41,469.10,349.46,430.57,430.57,2.10
2,1/1/2016,430.72,462.93,354.91,368.77,368.77,1.99
3,2/1/2016,369.35,448.05,367.96,437.70,437.70,1.88
4,3/1/2016,437.92,439.65,394.04,416.73,416.73,2.33

In [68]:
#Read Ether(ETH)
eth_df=pd.read_csv(eth_csv)
eth_renamed=eth_df.rename(columns={"Open": "ETH Open in USD",
                                "High": "ETH High in USD",
                                "Low": "ETH Low in USD",
                                "Close": "ETH Close in USD",
                                "Adj Close": "ETH Adj Close in USD",
                                "Volume": "ETH Volume in Billions"})
eth_renamed["ETH Open in USD"] = eth_renamed["ETH Open in USD"].map("{:.2f}".format)
eth_renamed["ETH High in USD"] = eth_renamed["ETH High in USD"].map("{:.2f}".format)
eth_renamed["ETH Low in USD"] = eth_renamed["ETH Low in USD"].map("{:.2f}".format)
eth_renamed["ETH Close in USD"] = eth_renamed["ETH Close in USD"].map("{:.2f}".format)
eth_renamed["ETH Adj Close in USD"] = eth_renamed["ETH Adj Close in USD"].map("{:.2f}".format)
eth_renamed["ETH Volume in Billions"]=eth_renamed["ETH Volume in Billions"]/1000000000
eth_renamed["ETH Volume in Billions"] = eth_renamed["ETH Volume in Billions"].map("{:.2f}".format)
eth_renamed.head()

,Date,ETH Open in USD,ETH High in USD,ETH Low in USD,ETH Close in USD,ETH Adj Close in USD,ETH Volume in Billions
0,11/1/2015,0.92,1.11,0.73,0.87,0.87,0.03
1,12/1/2015,0.88,1.05,0.77,0.93,0.93,0.01
2,1/1/2016,0.93,2.84,0.93,2.31,2.31,0.10
3,2/1/2016,2.32,6.65,2.12,6.34,6.34,0.35
4,3/1/2016,6.32,15.26,6.31,11.40,11.40,0.91

In [69]:
#Read Litecoin(LTC)
ltc_df=pd.read_csv(ltc_csv)
ltc_renamed=ltc_df.rename(columns={"Open": "LTC Open in USD",
                                "High": "LTC High in USD",
                                "Low": "LTC Low in USD",
                                "Close": "LTC Close in USD",
                                "Adj Close": "LTC Adj Close in USD",
                                "Volume": "LTC Volume in Billions"})
ltc_renamed["LTC Open in USD"] = ltc_renamed["LTC Open in USD"].map("{:.2f}".format)
ltc_renamed["LTC High in USD"] = ltc_renamed["LTC High in USD"].map("{:.2f}".format)
ltc_renamed["LTC Low in USD"] = ltc_renamed["LTC Low in USD"].map("{:.2f}".format)
ltc_renamed["LTC Close in USD"] = ltc_renamed["LTC Close in USD"].map("{:.2f}".format)
ltc_renamed["LTC Adj Close in USD"] = ltc_renamed["LTC Adj Close in USD"].map("{:.2f}".format)
ltc_renamed["LTC Volume in Billions"]=ltc_renamed["LTC Volume in Billions"]/1000000000
ltc_renamed["LTC Volume in Billions"] = ltc_renamed["LTC Volume in Billions"].map("{:.2f}".format)
ltc_renamed.head()

,Date,LTC Open in USD,LTC High in USD,LTC Low in USD,LTC Close in USD,LTC Adj Close in USD,LTC Volume in Billions
0,11/1/2015,3.82,5.32,2.94,3.62,3.62,0.14
1,12/1/2015,3.63,3.97,3.30,3.48,3.48,0.09
2,1/1/2016,3.48,3.64,2.92,3.05,3.05,0.09
3,2/1/2016,3.07,3.58,3.04,3.45,3.45,0.05
4,3/1/2016,3.45,3.45,3.13,3.26,3.26,0.04

In [70]:
#Read BitcoinCash(BCH)
bch_df=pd.read_csv(bch_csv)
bch_renamed=bch_df.rename(columns={"Open": "BCH Open in USD",
                                "High": "BCH High in USD",
                                "Low": "BCH Low in USD",
                                "Close": "BCH Close in USD",
                                "Adj Close": "BCH Adj Close in USD",
                                "Volume": "BCH Volume in Billions"})
bch_renamed["BCH Open in USD"] = bch_renamed["BCH Open in USD"].map("{:.2f}".format)
bch_renamed["BCH High in USD"] = bch_renamed["BCH High in USD"].map("{:.2f}".format)
bch_renamed["BCH Low in USD"] = bch_renamed["BCH Low in USD"].map("{:.2f}".format)
bch_renamed["BCH Close in USD"] = bch_renamed["BCH Close in USD"].map("{:.2f}".format)
bch_renamed["BCH Adj Close in USD"] = bch_renamed["BCH Adj Close in USD"].map("{:.2f}".format)
bch_renamed["BCH Volume in Billions"]=bch_renamed["BCH Volume in Billions"]/1000000000
bch_renamed["BCH Volume in Billions"] = bch_renamed["BCH Volume in Billions"].map("{:.2f}".format)
bch_renamed.head()

,Date,BCH Open in USD,BCH High in USD,BCH Low in USD,BCH Close in USD,BCH Adj Close in USD,BCH Volume in Billions
0,7/1/2017,0.12,0.12,0.10,0.10,0.10,0.00
1,8/1/2017,0.10,3.29,0.10,2.10,2.10,0.79
2,9/1/2017,2.20,2.85,0.53,1.29,1.29,0.30
3,10/1/2017,1.28,2.03,1.10,1.31,1.31,0.15
4,11/1/2017,1.34,2.17,1.20,2.00,2.00,0.42

In [71]:
#Read BinanceCoin(BNB)
bnb_df=pd.read_csv(bnb_csv)
bnb_renamed=bnb_df.rename(columns={"Open": "BNB Open in USD",
                                "High": "BNB High in USD",
                                "Low": "BNB Low in USD",
                                "Close": "BNB Close in USD",
                                "Adj Close": "BNB Adj Close in USD",
                                "Volume": "BNB Volume in Billions"})
bnb_renamed["BNB Open in USD"] = bnb_renamed["BNB Open in USD"].map("{:.2f}".format)
bnb_renamed["BNB High in USD"] = bnb_renamed["BNB High in USD"].map("{:.2f}".format)
bnb_renamed["BNB Low in USD"] = bnb_renamed["BNB Low in USD"].map("{:.2f}".format)
bnb_renamed["BNB Close in USD"] = bnb_renamed["BNB Close in USD"].map("{:.2f}".format)
bnb_renamed["BNB Adj Close in USD"] = bnb_renamed["BNB Adj Close in USD"].map("{:.2f}".format)
bnb_renamed["BNB Volume in Billions"]=bnb_renamed["BNB Volume in Billions"]/1000000000
bnb_renamed["BNB Volume in Billions"] = bnb_renamed["BNB Volume in Billions"].map("{:.2f}".format)
bnb_renamed.head()

,Date,BNB Open in USD,BNB High in USD,BNB Low in USD,BNB Close in USD,BNB Adj Close in USD,BNB Volume in Billions
0,7/1/2017,555.89,578.97,217.06,294.46,294.46,0.01
1,8/1/2017,294.60,1091.97,200.98,588.17,588.17,17.12
2,9/1/2017,588.40,707.98,301.69,432.63,432.63,11.31
3,10/1/2017,433.38,526.12,289.04,439.05,439.05,10.86
4,11/1/2017,438.30,2477.65,437.91,1256.33,1256.33,66.78

In [95]:
#Merge btc_eth
btc_eth=pd.merge(btc_renamed, eth_renamed, on="Date", how="outer")
#Merge ltc_bch
ltc_bch=pd.merge(ltc_renamed, bch_renamed, on="Date", how="outer")
#Merge ltc_bch with BNB
ltc_bch_bnb=pd.merge(ltc_bch, bnb_renamed, on="Date", how="outer")
#Merge All
crypto_df=pd.merge(btc_eth, ltc_bch_bnb, on="Date", how="outer")
#Replace Nan with 0
crypto_df["BCH Open in USD"]=crypto_df["BCH Open in USD"].fillna(0)
crypto_df["BCH High in USD"]=crypto_df["BCH High in USD"].fillna(0)
crypto_df["BCH Low in USD"]=crypto_df["BCH Low in USD"].fillna(0)
crypto_df["BCH Close in USD"]=crypto_df["BCH Close in USD"].fillna(0)
crypto_df["BCH Adj Close in USD"]=crypto_df["BCH Adj Close in USD"].fillna(0)
crypto_df["BCH Volume in Billions"]=crypto_df["BCH Volume in Billions"].fillna(0)
crypto_df["BNB Open in USD"]=crypto_df["BNB Open in USD"].fillna(0)
crypto_df["BNB High in USD"]=crypto_df["BNB High in USD"].fillna(0)
crypto_df["BNB Low in USD"]=crypto_df["BNB Low in USD"].fillna(0)
crypto_df["BNB Close in USD"]=crypto_df["BNB Close in USD"].fillna(0)
crypto_df["BNB Adj Close in USD"]=crypto_df["BNB Adj Close in USD"].fillna(0)
crypto_df["BNB Volume in Billions"]=crypto_df["BNB Volume in Billions"].fillna(0)
#Dropping todays date from dataframe
crypto_df.drop(crypto_df.tail(-60).index,inplace=True)
#DataFrame
crypto_df
#Write CSV to verify data is all there
#crypto_df.to_csv("Output/Crypto.csv", index=False, header=True)

In [82]:
#Find total volume of each Crypto Currency
volume_df=crypto_df[["BTC Volume in Billions","ETH Volume in Billions","LTC Volume in Billions","BCH Volume in Billions","BNB Volume in Billions"]]
#total_volume=volume_df.sum()
#total_volume
btc_sum=volume_df["BTC Volume in Billions"].sum()
btc_sum

'2.182.101.991.882.331.812.234.753.452.692.002.122.643.565.144.2810.879.7634.2644.4832.6263.5555.7058.01140.74410.34416.25229.72193.75196.55197.61130.21141.44132.29129.75118.44158.36168.83167.34199.10297.95445.37724.16675.86676.42533.99595.13595.21676.92633.79852.871163.381290.441156.131286.37650.91545.81687.13893.85555.5824.80'